#parentDiv{
  width: 100%;
  /* height: calc(100vh - 128px); */
  overflow: hidden;
  position: relative;
}
#parentDiv2{
}
#childDiv{
  position: absolute;
  top: 0;
  left: 0;
  bottom: -20px;
  right: -20px; 
  overflow: scroll;
}

#childDiv2{
  overflow: scroll;
}

img {
  border-radius: 5px;
  height: 1366px
}

p {
  font-size: 1.9vh;
  line-height: 1.6;
  font-family: Ubuntu, "Avenir Next", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
}